<div class="jumbotron">
    <h1 class="display-4">About DanbinHood!</h1>
    <hr class="my-4">
    <p>This is a stock exchange I (Daniel) made for the Stackathon Project. I had to search/watch a lot of
        lectures. I would like to try to use AWS in the end for the project.</p>
</div>